<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<!-- Mirrored from pixelwibes.com/template/ihealth/html/dist/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Jul 2024 16:06:51 GMT -->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>:: I-Health:: Dashboard</title>

  <!-- Favicon-->
  <!-- plugin css file  -->
  <link rel="stylesheet" href="/plugin/datatables/responsive.dataTables.min.css" />

  <link rel="stylesheet" href="/plugin/datatables/dataTables.bootstrap5.min.css" />
  <!-- project css file  -->
  <link rel="stylesheet" href="/css/ihealth.style.min.css" />
  <!-- Google Code  -->
  <script src="https://www.googletagmanager.com/gtag/js?id=UA-264428387-1"></script>
</head>

<body>
  